{% extends "SellermaniaTestBundle::layout.html.twig" %}

{% block page_content %}
    <h2>Idea list</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Popularity</th>
                <th>Date</th>
                <th>Author</th>
                <th>Vote</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for idea in ideas %}
            <tr>
                <td><a href="{{ path('show_idea', { 'id': idea.id }) }}">{{ idea.id }}</a></td>
                <td>{{ idea.title }}</td>
                <td>{{ idea.content }}</td>
                <td>{{ idea.popularity }}</td>
                <td>{% if idea.date %}{{ idea.date|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ idea.author }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('vote_new', { 'id': idea.id, 'value':1 }) }}" class="vote"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></a>
                        </li>
                        <li>
                            <a href="{{ path('vote_new', { 'id': idea.id, 'value':-1 }) }}" class="vote"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('comment_new', { 'id': idea.id }) }}"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> add comment</a>
                        </li>
                        <li>
                            <a href="{{ path('show_idea', { 'id': idea.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"> show</a>
                        </li>
                        <li>
                            <a href="{{ path('edit_idea', { 'id': idea.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> edit</a>
                        </li>
                        <li>
                            <a href="{{ path('delete_idea', { 'id': idea.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"> delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('new_idea') }}" class="btn btn-info">Create a new entry</a>
        </li>
    </ul>

    <script>
    $(document).ready( function () {
        $('.table').on("click", ".vote", function(event){
            event.preventDefault();
            $.ajax({
                url: $(this).attr('href')
            });
            location.reload(); 
        });
    });
    </script>
{% endblock %}
