{% extends "SellermaniaTestBundle::layout.html.twig" %}

{% block page_content %}
    <h2>Idea</h2>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ idea.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ idea.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ idea.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if idea.date %}{{ idea.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ idea.author }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>
                    <ul class="list-unstyled">
                        {% for comment in idea.comments %}
                        <li>{{ comment.content }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('idea_list') }}" class="btn btn-default">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comment_new', { 'id': idea.id }) }}" class="btn btn-info"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> add comment</a>
        </li>
        <li>
            <a href="{{ path('edit_idea', { 'id': idea.id }) }}" class="btn btn-warning">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
